// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$asnwer: #FFFFE1;
$question: #FFFFFF;

.question {
  background-color: $question;
  border-left: solid 5px gray;
  padding: 5px;
  width: 30%;
}

.answer {
  background-color: $asnwer;
  border-left: solid 5px gray;
  padding: 5px;
  margin: 5px 0;
  width: 30%;
}
